*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
body
{
    color: #ededed;
    background:#081b29;
}
.header
{
    height: 45px;
    background: #051129;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin-right: 0%;
}
.logo{
    position: relative;
    font-size: 120%;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar{
    display: flex;
    gap: 3vw;
    margin-right: 3vw;
}
.navbar a{
    display: inline-block;
    font-size: 100%;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s*var(--i));
}
.navbar a:hover{
    color: #0ef;
}
.home
{

    margin: 10vh auto;
    margin-top: 13vh;
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background:#081b29;
    gap: 20vh;
}
.home-content{
      padding-right: 5vw;
      padding-left: 2vw;
  width: 550px ;
}
/* port.css */

/* Add this class for the round image */

.round-image {
    position: relative;
    border-radius: 50%; /* Makes the image round */
   border: 4px solid #fff; /* Adds a white border with 4px width */
   box-shadow: 0 0 70px 10px #0ef; /* Adds a very broad and colorful shadow effect */
}
.home-content h3{
    font-size: 31px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3 span{
   color: #0ef;    
}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content h1{
   font-size: 56px;
   font-weight: 700;
   margin: -3px 0;
   opacity: 0;
   animation: slideRight 1s ease forwards;
   animation-delay: 1s;
}
.home-content p{
    font-size: 20px;
    opacity: 0;
   animation: slideLeft 1s ease forwards;
   animation-delay: 1s;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
   
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 27px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
}
.home-sci a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
   animation-delay: 2s;
   box-shadow: 0 0 5px #0ef,
   0 0 25px #0ef;
}
.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan, 
    0 0 100px cyan, 0 0 200px cyan
}
@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
    
}
@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
    
}
@keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
    
}
@keyframes slideLeft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
    
}

.about{
    
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10vw;
    margin-right: 10vw;
    }
.about-img{
  margin-left: 100px;
}
.about-text h2{
    font-size: 60px;
}
.about-text h2 span{
    color: #0ef;
}

.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
 /*   margin: 15px 0 30px;*/

}
.about-text p{
    color: aliceblue;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.myskills{
    height: 10%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 200%;
}

.myskills span{
    color: #0ef;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin: 5vh auto;
   
}
.skillsec{
    margin-left: 10%;
    margin-right: 10%;
}
.skills > *{
    height: 100px;
    width: 150px;
    border: 2px solid white;
    background-color: transparent;
    padding: 2%;
    font-size: 100%;
    margin: 1vw;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px#0ef;
}
.skills p{
    font-size: 20px;
}
.skills div i{
    font-size: 50px;
    
}
.skills div{
  font-size: 25px;
  transition: transform 1s ease;
}
.skills div:hover{
    transform: translateY(-10px);
    cursor: pointer;
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan, 
    0 0 100px cyan, 0 0 200px cyan
}
.flex{
   display: flex;
   justify-content: center;
   align-items: center;
}

.sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.container1{
    width: 550px;
    height: 500px;
    padding: 75px 90px;
    

}
.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 4px;
    margin-bottom: 50px;
}

.bar{
    font-size: 23px;
}
.technical-bars .bar{
    margin-top: 40px 0;
}
.technical-bars .bar:first-child{
    margin-top: 0;
}
.technical-bars .bar:last-child{
    margin-bottom: 0;
}
.technical-bars .bar .info{
    margin-bottom: 5px;
}
.technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
    
}

.technical-bars .bar .progress-line{
    position: relative;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000;
    animation: animate 1s forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}

.technical-bars .bar .progress-line span{
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.progress-line.html span{
    width: 95%;
}
.progress-line.CSS span{
    width: 95%;
}

.progress-line.JavaScript span{
    width: 85%;
}

.progress-line.REACT span{
    width: 85%;
}

.progress-line.C span{
    width: 95%;
}

.progress-line.JAVA span{
    width: 80%;
}

.progress-line.DSA span{
    width: 80%;
}

.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
 
 }
 
 
@keyframes showText {
    100%{
     opacity: 1;
    }    
 }

 .progress-line.html span::after{
    content: "95%";
}
.progress-line.CSS span::after{
    content: "95%";
}

.progress-line.JavaScript span::after{
    content: "85%";
}

.progress-line.REACT span::after{
    content: "85%";
}


.progress-line.C span::after{
    content: "95%";
}

.progress-line.JAVA span::after{
    content: "80%";
}

.progress-line.DSA span::after{
    content: "80%";
} 
.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #000;        
        color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.certificates main{
    width: 60vw;
    height: 75vh;
    margin: auto;
    margin-top: 50px;
    border: 2px solid rgb(10, 10, 10);
    box-shadow: 0px 0px 3px #0ef;
    box-shadow: 0 0 20px 10px #0ef;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.slide{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s;
}


#softskills{
   margin-top: 10vh;
   margin-bottom: 2vh;
}

.softskill{
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
    flex-wrap: wrap;
    
}
.softskill div img{
    border: 2px solid #fff;

}

.softskill div img:hover{
  transform: translateY(-10px);

  box-shadow: 0 0 70px 10px #0ef; /* Adds a very broad and colorful shadow effect */ transition: 1s;

}

.softskill p{
 text-align: center;
 margin-top: 10%;
 margin-bottom: 20%;
 font-size: 20px;

}


.resu{
    height: 80px;
    width: 150px;
   
    border: 2px solid white;
    background-color: transparent;
    padding: 20px;
    font-size: 20px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px#0ef;
    color: #0ef;
}
.resu:hover{
    transform: translateY(-10px);
    cursor: pointer;
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan, 
    0 0 100px cyan, 0 0 200px cyan
}

.thank .thanks{
    text-shadow: 4px 5px 20px #0ef;
}

.contact-img
{
   /* border: 2px solid white;
 /*background-image: url(https://cdn.pixabay.com/photo/2015/01/25/21/02/phone-612061_1280.jpg);
   */    
  /* box-shadow: 0px 0px 1000px 40px #0ef;
   background-size:cover;
  */  display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}
form{
    color: white;
    font-size: 20px;
   display: flex;
   flex-direction: column;
   gap: 20px;
   width: 390px;
   background: transparent;
   backdrop-filter: blur;
   
}
form input{
    height: 30px;
}
form textarea::placeholder{
  margin-left: 10px;
  padding-top: 5px;
}
form input,textarea,button{
    transition: 0.5s;
}
form input , textarea, button{
    border-radius: 26px;
    padding-left: 6px;
    color: rgb(253, 253, 253);
    font-family: sans-serif;
    font-size: 15px;
    border: 2px solid black;
    box-shadow: 0px 0px 8px 1px #0ef;   
    background: transparent;
    
}
form input:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan, 
    0 0 100px cyan, 0 0 200px cyan
}
form textarea:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan, 
    0 0 100px cyan, 0 0 200px cyan
}
form button:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan, 
    0 0 100px cyan, 0 0 200px cyan
}
form button{
    height: 40px;
  font-family: sans-serif;
  font-size: 18px;
  border-radius: 30px;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-left: 120px;
  margin-top: 10px;
  margin-bottom: -10px;
  width: 150px;
}
 
.contact-img label{
    font-size: 20px;
}
form textarea{
 border-radius: 10px;   
}



/*
.skills div{
  font-size: 25px;
  transition: transform 1s ease;
}
.skills div:hover{
    transform: translateY(-10px);
    cursor: pointer;
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan, 
    0 0 100px cyan, 0 0 200px cyan
}*/
